h1{
	font-family: 'Fira Sans', sans-serif !important; 
}
body{
	font-family: 'Roboto', sans-serif !important;
}
#fName, #lName, #subject{
	display:block;

}
.nameBox{
	margin:15px 0;
}
#subject{
	height:150px;
	width:100%;
}
#submit {
    padding: 15px;
    background-color: #ddd;
    border:none;
    border-radius:10px;
    cursor: pointer;
    margin-top:15px;
}
.container{
	max-width:700px;
	margin-top:15px;
} 
#thanks{
	margin-top:100px;
}
p{
	padding:15px 0;
}
@media (max-width: 768px) { 
	.container{
		max-width:500px;
	}
}
@media (max-width: 510px) { 
	.container{
		max-width:300px;
	}
}