body
{
    margin: 0;
    font-family: Trebuchet MS;
}

nav
{
    background-color: #222;
    display: flex;
}

nav > a, nav > p
{
    color: darkorange;
    text-decoration: none;
    padding: 20px;
    margin: 0;
}

nav > a:hover
{
    background-color: #555;
    cursor: pointer;
}

nav > p
{
    color: white;
    flex-grow: 5;
}

header
{
    margin-bottom: 50px;
}

h1
{
    color: deepskyblue;
    margin: 120px 0 50px;
    font-size: 36pt;
}

h2
{
    margin-top: 50px;
    color: darkorange;
    font-size: 20pt;
}

h3
{
    font-size: 15pt;
}

h5
{
    font-size: 12pt;
}

p, ul
{
    margin-bottom: 50px;
}

figure
{
    margin-bottom: 150px;
}

img
{
    width: 100%;
    border: 1px solid #AAA;
    margin-bottom: 25px;
}

figcaption
{
    font-style: italic;
    text-align: center;
}

hr
{
    width: 50px;
    border: 1px solid deepskyblue;
    margin: 50px auto;
}

/* classes */
.centered
{
    text-align: center;
}

.blueSect, .orangeSect
{
    padding: 50px 150px;
}

.blueSect
{
    background-color: #EEE;
}

.blueSect > h2
{
    color: deepskyblue;
}

.blueSect > hr
{
    border: 1px solid darkorange;
}

.prototypes
{
    display: flex;
    flex-wrap: wrap;
}

.prototypes img
{
    width: 300px;
}

.prototypes>div
{
    margin: 50px;
}